<form method="post" action="/createPublisher">
    <br />
    <p>
      <label>Name:</label>
      <input type="text" name="name" />
    </p>
    <p>
      <label>Email:</label>
      <input type="text" name="email" />
    </p>
    <br />
    <p>
      <label>Banking Account:</label>
      <input type="text" name="bankingAccount" />
    </p>
    Address
    <p>
      <label>Street Name:</label>
      <input type="text" name="bStreet" />
    </p>
    <p>
      <label>Street Number:</label>
      <input type="number" name="bStreetNumber" />
    </p>
    <p>
      <label>Postal Code:</label>
      <input type="text" name="bPostalCode" />
    </p>
    <p>
      <label>Province:</label>
      <input type="text" name="bProvince" />
    </p>
    <p>
      <label>Country:</label>
      <input type="text" name="bCountry" />
    </p>
    <br />
    <p>
        Phone Number (Separate multiple numbers by space)
        <label>Phone Number(s):</label>
        <input type="text" name="phoneNums" />
    </p>
    <p>
        <input type="submit" value="Create Publisher" />
      </p>
</form>
  