<h1> Home Page Not Logged in</h1>

<form action="/login" method="get">
    <input type="submit" value="Login" />
</form>

<form action="/createCustomer" method="get">
    <input type="submit" value="Register as a customer"/>
</form>
