<ul style= "list-style-type: none;
            margin: 0;
            padding: 0;
            
">
    <li><a href="http://localhost:3000/">Home</a></li>
    <li><a href="http://localhost:3000/viewBooks">View All Books</a></li>
    <li><a href="http://localhost:3000/viewCart">View Cart</a></li>
    <li><a href="http://localhost:3000/customerOrders">View Previous Orders</a></li>
    <li>
        <form method="post" action="/logout">
            <p> <input type="submit" value="Logout"> </p>
        </form>
    </li>
</ul>


