<a href="http://localhost:3000/createBook">Create a Book</a>
<a href="http://localhost:3000/createPublisher">Create a Publisher</a>
<a href="http://localhost:3000/viewBooks">View All Books</a>
<a href="http://localhost:3000/publisherPayouts">View Publisher Payouts</a>
<a href="http://localhost:3000/report">Report</a>

<form method="post" action="/logout">
    <p> <input type="submit" value="Logout"> </p>
</form>
